.columns {
  padding: 50px 0 20px 0;
  background-color: #f5f5f5;

  &__title {
    text-align: center;
  }

  &__row {
    margin: 0px -8px;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    padding: 0px 8px;
    flex: 0 1 50%;
  }

  &__item {
    margin-bottom: 20px;
  }
}

.item {
  &__row {
    display: flex;
  }

  &__image {
    flex: 0 0 200px;
  }

  &__body {
    flex: 1 1 auto;
    padding-left: 15px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
}