.what {
  padding: 50px;

  & .title {
    font-size: 30px;
    color: #445161;
    margin-bottom: 20px;
  }

  & .container {
    display: flex;
    flex-direction: column;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.image {
  flex: 0 0 430px;
}

.body {
  flex: 1 1 auto;
  max-width: 640px;
}

.text {
  color: #333333;
  font-size: 16px;

  p {
    margin-bottom: 20px;
    line-height: 24px;
  }
}