// все пиксели в rem()

.hi {
  padding: 50px;
  background-color: #445162;
}

.row {
  display: flex;
  justify-content: space-between;
}

.text {
  color: #fff;
  padding-right: 30px;
}

.title {
  font-size: 60px;
  margin-bottom: 30px;
}

.list {
  font-size: 20px;
  li {
    list-style: none;
    padding-left: 30px;
    margin-bottom: 20px;
    // в наших проектах мы так не делаем, все иконки в svg, и используются в компонентах в виде базового Icon компонента, где пропсами передаются параметры. Разобрать как это устроено в проекте
    background: url('/img/icons/icon.png') no-repeat left center;
    line-height: 22px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  }
  li:last-child {
    margin: 0;
  }
}

.image__wrapper {
  position: relative;
  flex: 0 0 rem(400px);

  width: rem(400px);
  height: rem(400px);

  img {
    object-fit: cover;
    object-position: center;
  }
}
